{{#if resume.events}}
         <section class="section experiences-section">
             <h2 class="section-title"><i class="fa fa-briefcase"></i>Attended events</h2>

             {{#resume.events}}
                 <div class="item">
                     <div class="meta">
                         <div class="upper-row">
                             <h3 class="job-title">{{date}}</h3>
                         </div><!--//upper-row-->
                           {{#each list}}
                           <li>{{name}} ({{#if role}}{{role}}, {{/if}}<i>{{place}}</i>){{#unless @last}}, {{/unless}}
                           </li>{{/each}}

                     </div><!--//meta-->

                 </div><!--//item-->
             {{/resume.events}}
         </section><!--//section-->
{{/if}}
