{{#if resume.events}}
         <section class="section experiences-section">
             <h2 class="section-title"><i class="far fa-calendar-alt"></i>Attended events</h2>
            <ul  style="list-style-type:disc">
            {{#each resume.events}}
            <li>
              <b>{{date}}</b>
              <ol>
              {{#each list}}
                <li>
                    <b><a href="{{link}}" target="_blank">{{#markdown}}{{name}}{{/markdown}}</a></b>, <i>{{place}}</i>.
                </li>
              {{/each}}
              </ol>
            </li>
            {{/each}}
            </ul>
         </section><!--//section-->
{{/if}}
