{{#if resume.events}}
         <section class="section experiences-section">
             <h2 class="section-title"><i class="far fa-calendar-alt"></i>Attended events</h2>
            <ul  style="list-style-type:circle">
            {{#each resume.events}}
            <li>
              <b>{{date}}</b>:
              {{#each list}}
              {{name}} ({{#if role}}{{role}}, {{/if}}<i>{{place}}</i>){{#unless @last}}, {{/unless}}
              {{/each}}.
            </li>
            {{/each}}
            </ul>
         </section><!--//section-->
{{/if}}
