{{#if resume.logos.length}}
<section class='row'>
  {{#each resume.logos}}
  <div class='column' id='logos'>
    <a href="{{website}}">
      <div>
        <img class="logos" src="{{path}}" alt="" itemprop="image" style="max-width:220px">
      </div>
    </a>
  </div>
  {{/each}}
</section>
{{/if}}


{{> summary}}

{{> teaching}}

{{> work}}

{{> projects}}

{{> skills}}

{{> publications}}

{{> events}}

{{> misc}}
