<div class="row">
		<div class="column">
			<img src="resources/UMONS-rouge-quadri-avec-texteth.png" alt="" style="max-width:220px"/>
		</div>

		<div class="column">
			<img src="resources/Sciencesvert-rouge.png" alt="" style="max-width:220px"/>
		</div>
</div>

{{> summary}}

{{> teaching}}

{{> work}}

{{> projects}}

{{> skills}}

{{> publications}}

{{> events}}

{{> misc}}
