{{#if resume.basics.news}}
    <div class="interests-container container-block">
        <h2 class="container-block-title">News</h2>
                <i>{{resume.basics.news}}</i>
    </div><!--//interests-->
{{/if}}
