{{#if resume.skills}}
    <section class="skills-section section">
        <h2 class="section-title"><i class="fas fa-rocket"></i>Programming Skills</h2>
        <div class="skillset">
            {{!-- #TODO: better presentation --}}
            {{#resume.skills}}
                {{#each list}}
                    {{.}}{{#if @last}}.{{else}}, {{/if}}
                {{/each}}
                {{!-- <div class="item">
                    <h3 class="level-title">{{name}}</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="{{skillLevel level}}">
                        </div>
                    </div><!--//level-bar-->
                </div><!--//item--> --}}
            {{/resume.skills}}
        </div>
    </section><!--//skills-section-->
{{/if}}